<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>BankingProject</display-name>
	<servlet>
		<description>
		</description>
		<display-name>LoginValidation</display-name>
		<servlet-name>LoginValidation</servlet-name>
		<servlet-class>controller.LoginValidation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>controller.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RegValidation</display-name>
		<servlet-name>RegValidation</servlet-name>
		<servlet-class>controller.RegValidation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Register</display-name>
		<servlet-name>Register</servlet-name>
		<servlet-class>controller.Register</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Balance</display-name>
		<servlet-name>Balance</servlet-name>
		<servlet-class>controller.Balance</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangePwdValidation</display-name>
		<servlet-name>ChangePwdValidation</servlet-name>
		<servlet-class>controller.ChangePwdValidation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangePwd</display-name>
		<servlet-name>ChangePwd</servlet-name>
		<servlet-class>controller.ChangePwd</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TransferValidation</display-name>
		<servlet-name>TransferValidation</servlet-name>
		<servlet-class>controller.TransferValidation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Transfer</display-name>
		<servlet-name>Transfer</servlet-name>
		<servlet-class>controller.Transfer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ForgotPwdValidation</display-name>
		<servlet-name>ForgotPwdValidation</servlet-name>
		<servlet-class>controller.ForgotPwdValidation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ForgotPwd</display-name>
		<servlet-name>ForgotPwd</servlet-name>
		<servlet-class>controller.ForgotPwd</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ForgotpwdValidation</display-name>
		<servlet-name>ForgotpwdValidation</servlet-name>
		<servlet-class>controller.ForgotpwdValidation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginValidation</servlet-name>
		<url-pattern>/LoginValidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegValidation</servlet-name>
		<url-pattern>/RegValidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Balance</servlet-name>
		<url-pattern>/Balance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePwdValidation</servlet-name>
		<url-pattern>/ChangePwdValidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePwd</servlet-name>
		<url-pattern>/ChangePwd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransferValidation</servlet-name>
		<url-pattern>/TransferValidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Transfer</servlet-name>
		<url-pattern>/Transfer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgotPwdValidation</servlet-name>
		<url-pattern>/ForgotPwdValidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgotPwd</servlet-name>
		<url-pattern>/ForgotPwd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgotpwdValidation</servlet-name>
		<url-pattern>/ForgotpwdValidation</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		
		<welcome-file>index.jsp</welcome-file>
		
	</welcome-file-list>
</web-app>
